<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346188478020-04n7mmf0dgni0rrec3p2mf10hhsr7atc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346188478020-04n7mmf0dgni0rrec3p2mf10hhsr7atc</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2h6_K_6pRGP0LInR8zHGeOrS1xVONWA</string>
	<key>GCM_SENDER_ID</key>
	<string>346188478020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquariussolutions.chesster</string>
	<key>PROJECT_ID</key>
	<string>chess-solutions-f8a5b</string>
	<key>STORAGE_BUCKET</key>
	<string>chess-solutions-f8a5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346188478020:ios:1face68d4f9c20e9a3ae11</string>
	<key>DATABASE_URL</key>
	<string>https://chess-solutions-f8a5b-default-rtdb.firebaseio.com</string>
</dict>
</plist>